body {
    background-color: #33333b;
    color: #eee;
    font-size: 18px;
    font-family: sans-serif;
    background-image: url("/img/egg-shell.png");
    scrollbar-width: thin;
}

p.content {
    max-height: 20em;
    overflow-y: scroll;
    overflow-x: scroll;
    scrollbar-width: thin;
}

a, a:visited {
    color: #31bbff
}

content {
    padding: 10px 0;
    max-width: 900px;
    margin: 0 auto;
    display: block;
}

#categories-container {
    display: block ruby;
    background-color: #a1a1a121;
    overflow-x: scroll;
    border: 0;
    * {
        margin-right: 10px;
    }
    .checkbox-label {
        background-color: #444;
        border: #777 2px solid;
        padding: 5px 20px;
    }
    .checkbox-label:hover {
        color: #fff;
        background-color: #777;
        cursor: pointer;
    }
    input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"]:checked + .checkbox-label {
        background-color: #943232;
        border: #d14646 2px solid;
    }
}

h2 {
    margin: 5px 0 5px 0;
    font-family: monospace;
}

h3 {
    font-size: 13px;
    margin: 10px 0;
}

h4 {
    color: #5a5a5a;
    font-size: 10px;
    text-align: right;
}

button {
    background-color: #00000000;
    padding: 7px 10px;
    border: #777 2px solid;
    font-size: 16px;
    cursor: pointer;
    color: #bcbcbc;
    border-radius: 5px;
}

button:hover {
    color: #fff;
    background-color: #777;
}

.upload-section {
    display: flex;
    align-items: baseline;
    button {
        margin: 0 0 0 10px !important;
    }
    input[type="file"] {
        background-color: #00000050;
        width: 100%;
        cursor: pointer;
    }
    input[type=file]::file-selector-button {
        display: none;
    }
}

input {
    background-color: #00000050;
    color: #ddd;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 16px;
    outline: none;
    border: solid #edb80c00 3px;
    border-radius: 10px;
}

input:focus,textarea:focus {
    border: solid #edb80cae 3px;
}

textarea {
    background-color: #00000050;
    resize: vertical;
    color: #ddd;
    padding: 10px 15px;
    border: 0;
    margin-bottom: 10px;
    height: 130px;
    font-size: 16px;
    outline: none;
    border: solid #edb80c00 3px;
    border-radius: 10px;
}

.grid {
    display: grid;
}

.box {
    background-color: #222230;;
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
    border: #ffffff2a 2px solid;
}

.attachments {
    margin-top: 30px;
    .attachment {
        margin-top: 10px;
    }
    .delete-attachment {
        padding: 0;
        width: 25px;
        height: 25px;   
        background-color: #d14646;
        border: 0;
        border-radius: 30px;
        color: #fff;
        padding: 0 !important;
        display: none;
        margin-left: 15px;
    }
}

.note {
    button {
        margin-right: 10px;
        padding: 10px 20px;
    }
}

.control-bar {
    display: flex;
    justify-content: start;
    align-items: baseline;
    input {
        width: 100%;
    }
    button {
        min-width: 80px;
        padding: 12px 0;
    }
}

.edit-action-container {
    display: flex;
    margin: 20px 5px;
}

#version {
    opacity: 0.25;
}

#authfail {
    font-family: monospace;
    display: none;
}