body {
    background-color: #2e2e39;
    color: #eee;
    font-size: 18px;
    font-family: sans-serif;
    background-image: url("/img/egg-shell.png");
    scrollbar-width: thin;
}

a, a:visited {
    color: #31bbff
}

content {
    padding: 10px 0;
    max-width: 1000px;
    margin: 0 auto;
    display: block;
}

#categories-container {
    display: flex;
    background-color: #a1a1a121;
    overflow-x: scroll;
    border: 0;
    * {
        margin-right: 10px;
    }
    .checkbox-label {
        background-color: #444;
        border: #777 2px solid;
        padding: 5px 20px;
    }
    .checkbox-label:hover {
        color: #fff;
        background-color: #777;
        cursor: pointer;
    }
    input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"]:checked + .checkbox-label {
        background-color: #943232;
        border: #d14646 2px solid;
    }
}

button {
    background-color: #ffffff00;
    padding: 7px 10px;
    border: #ffffff37 2px solid;
    font-size: 16px;
    cursor: pointer;
    color: #bcbcbc;
    border-radius: 8px;
}

button:hover {
    color: #fff;
    background-color: #14409f58;
    border: #ffffff58 2px solid;
}

.upload-section {
    display: flex;
    align-items: baseline;
    button {
        margin: 0 0 0 10px !important;
    }
    input[type="file"] {
        background-color: #00000050;
        width: 100%;
        cursor: pointer;
    }
    input[type=file]::file-selector-button {
        display: none;
    }
}

select,input {
    background-color: #00000050;
    color: #ddd;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 16px;
    outline: none;
    border: solid #edb80c00 3px;
    border-radius: 10px;
}

select:focus,input:focus,textarea:focus {
    border: solid #edb80cae 3px;
}

textarea {
    background-color: #00000050;
    resize: vertical;
    color: #ddd;
    padding: 10px 15px;
    border: 0;
    margin-bottom: 10px;
    height: 130px;
    font-size: 16px;
    outline: none;
    border: solid #edb80c00 3px;
    border-radius: 10px;
}

.grid {
    display: grid;
}

.box {
    margin: 20px 0;
    border-radius: 10px;
    border: #ffffff2a 1px solid;
    background-color: #2c2c3e;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.131);
    h1 {
        margin: 10px 0 20px 0;
        font-size: 40px;
    }
    h2 {
        margin: 5px 0 5px 0;
        font-size: 36px;
        display: flex;
        align-items: center;
    }

    h3 {
        font-size: 13px;
        margin: 10px 0;
    }

    h4 {
        color: #ffffff;
        font-size: 10px;
    }
    .box-title {
        border-radius: 13px 13px 0 0;
        padding: 10px 20px 10px 20px;
        border-bottom: #ffffff2a solid 1px;
        background-image: url("/img/egg-shell.png");
        .low-priority {
            border: #465cd1 2px solid;
        }
        .medium-priority {
            border: #ff6000 2px solid; 
        }
        .high-priority {
            background-color: #d14646;
        }
        .hidden-note {
            border: gray 1px solid;
        }
        .low-priority, .medium-priority, .high-priority, .hidden-note {
            margin-left: 9px;
            padding: 3px 10px;
            border-radius: 10px;
            color: white;
            font-size: 14px;
        }
    }
    .box-bottom {
        border-radius: 0 0 15px 15px;
        padding: 0 20px 20px 20px;
        border-top: #ffffff2a solid 1px;
        background-image: url("/img/egg-shell.png");
    }
    .box-content {
        background-color: #212131;
        max-height: 30em;
        overflow-y: scroll;
        overflow-x: scroll;
        scrollbar-width: thin;
        padding: 2px 20px;
        min-height: 10em;
    }
    .attachments {
        margin-bottom: 10px;
        .attachment {
            margin-top: 10px;
        }
        .attachment::before {
            content: "🔗";
        }
        .delete-attachment {
            padding: 0 8px;
            height: 25px;   
            background-color: #d14646;
            border: 0;
            border-radius: 30px;
            color: #fff;
            display: none;
            margin-left: 8px;
        }
    }
}
.categories-container{
    padding: 20px;
}

.padding20 {
    padding: 20px;
}

.control-bar {
    display: flex;
    justify-content: start;
    align-items: baseline;
    input {
        width: 100%;
    }
    button {
        min-width: 70px;
        padding: 10px 0;
        margin-right: 10px;
    }
}

@media (min-width: 500px) {
    .edit-action-container {
        display: flex;
        button {
            margin-right: 10px;
            padding: 10px 20px;
        }
    }
}
@media (max-width: 499px) {
    .edit-action-container {
        display: grid;
        button {
            margin-top: 10px;
            padding: 10px 20px;
        }
    }
}

#version {
    opacity: 0.25;
    margin-top: 10px;
}

#authfail {
    font-family: monospace;
    display: none;
}

@keyframes open {
    0%   {opacity: 0; transform: rotate3d(1, 0, 0, 90deg);}
    100% {opacity: 1;}
}

@keyframes close {
    0% {opacity: 1;}
    100%   {opacity: 0; transform: rotate3d(1, 0, 0, 90deg);}
}

::backdrop {
    background-color: #0f0f15c4;
    backdrop-filter: blur(4px);
}

dialog {
    border: 0;
    background-color: #00000000;
    color:#bcbcbc;
    animation: open 0.5s ease-out;
}

dialog.closing {
    animation: close 0.5s ease-out backwards;
}

#addNote {
    max-width: 800px;
    width: 80%;
}
