body {
    background-color: #444;
    color: #eee;
    font-size: 18px;
    font-family: sans-serif;
    background-image: url("/img/egg-shell.png");
}

p {
    white-space: break-spaces;
}

a, a:visited {
    color: #31bbff
}

content {
    padding: 0 20px 20px 20px;
    max-width: 900px;
    margin: 0 auto;
    display: block;
}

#categories-container {
    display: flex;
    background-color: #1100aa;
    overflow-x: scroll;
    padding: 21px;
}

h2 {
    margin: 5px 0 5px 0;
    font-family: monospace;
}

h3 {
    font-size: 13px;
    margin: 10px 0;
}

h4 {
    color: #aaa;
    font-size: 10px;
    font-style: italic;
    margin: 10px 0;
    text-align: right;
}

button {
    background-color: #aaa;
    padding: 7px 15px;
    margin-bottom: 10px;
    border: 0;
    font-size: 16px;
    box-shadow: #edb90c 6px 6px 0;
    width: 100px;
    margin-right: 20px;
    cursor: pointer;
}

button:hover {
    color: #fff;
    background-color: #777;
    box-shadow: #edb90c 0px 0px 0;
}

input[type="checkbox"] {
    display: none;
}

input[type="file"] {
    background-color: #000;
}

.upload-section {
    margin-top: 20px;
    button {
        margin-left: 20px;
    }
}

.checkbox-label {
    background-color: #444;
    box-shadow: #000 6px 6px 0;
    margin-right: 15px;
    padding: 5px 20px;
}
.checkbox-label:hover {
    box-shadow: #000 0px 0px 0;
    color: #fff;
    background-color: #777;
    cursor: pointer;
}
input[type="checkbox"]:checked + .checkbox-label {
    background-color: rgb(128, 0, 0);
    color: white;
    font-weight: bold;
}

input {
    background-color: #fff;
    padding: 10px 15px;
    border: 0;
    margin-bottom: 10px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

input:focus,textarea:focus {
    border: solid #edb90c 3px;
}

textarea {
    background-color: #ffffff;
    padding: 10px 15px;
    border: 0;
    margin-bottom: 10px;
    height: 130px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

.grid {
    display: grid;
}

#addNote {
    display: none;
}

.box {
    background-color: #333;
    margin-top: 15px;
    padding: 20px;
    margin: 20px 10px 20px 0;
    box-shadow: #000 10px 10px 0;
    background-image: url("/img/egg-shell.png");
}

#authfail {
    font-family: monospace;
    display: none;
}

.delete-attachment {
    padding: 0;
    width: 20px;
    margin-left: 10px;
}
